{% extends 'base.html.twig' %}

{% block title %}Modifier :
	{{ company.name }}
{% endblock %}

{% block body %}
	<section>
		<h1>Modifier la société:
			{{ company.name }}</h1>
		<div class="listButton">
			{{ include('company/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
		<button type="btn button" class="btn btn-primary">
			<a href="{{ path('company_index') }}">Retour à la liste</a>
		</button>
	</section>
{% endblock %}
