{% extends 'base.html.twig' %}

{% block title %}Nouvelle société
{% endblock %}

{% block body %}
	<section>
		<h1>Renseigner les informations de la société</h1>

		<div class="listButton">
			{{ include('company/_form.html.twig') }}
		</div>
		<button type="button" class="btn btn-primary">
			<a href="{{ path('company_index') }}">Retour à la liste</a>
		</button>
	</section>
{% endblock %}
